@model VideoTopicViewModel

<partial name="_PageAttributes" />

<h2>Attributes</h2>
<ul>
  <li><a href="@Model.PosterUrl">Poster URL</a></li>
  <li><a href="@Model.VideoUrl">Video URL</a></li>
</ul>

<!--
  Content Type: Video
  View Location: ~/Views/ContentTypes/Video.cshtml
-->