@model NavigationViewModel<NavigationTopicViewModel>

<h2>Menu</h2>
<nav id="PrimaryNavigationSmallScreen" role="navigation" vocab="http://schema.org" typeof="SiteNavigationElement">
  <ul>
    @foreach (var topic in Model.NavigationRoot!.Children) {
      @WriteMenu(topic);
    }
  </ul>
</nav>


@{

  IHtmlContent Body(Func<object?, IHtmlContent> body) => body(null);

  IHtmlContent WriteMenu(NavigationTopicViewModel topic, int indentLevel = 1) => Body(

    @<li>
      <a href="@topic.WebPath">@(topic.ShortTitle?? topic.Title)</a>
      <ul>
        @foreach (var childTopic in topic.Children) {
          @WriteMenu(childTopic, indentLevel+1);
        }
      </ul>
    </li>

  );

}

<!--
  Content Type: NavigationViewModel<NavigationTopicViewModel>
  View Location: ~/Views/Shared/Components/Menu/Default.cshtml
-->